# python=3.9
extra_streamlit_components==0.1.71
streamlit==1.38.0
streamlit-float==0.3.4
tiktoken==0.7.0
llama-index==0.11.10
llama-index-core==0.11.10
GPUtil==1.4.0
llama-index-llms-ollama==0.3.2
llamaindex-py-client==0.1.19
llama-index-embeddings-huggingface==0.3.1